{% extends 'base/base.html' %}  

{% block content %}

<style>
  .redon {
    border: 1px solid;
    border-color:#9A9696;
    border-radius: 4px;
    }
</style>

<script>
  $(document).ready(function() {
    $('#crop').change(function() {

      var crop = $('#crop').val();

      // Make Ajax Request and expect JSON-encoded data
      $.getJSON(
        '/get_model_all_crop' + '/' + crop,
        function(data) {

          // Remove old options
          $('#model_crop').find('option').remove();                                

          // Add new items
          $.each(data, function(key, val) {
            var option_item = '<option value="'+ val.id +'">' + val.name + '</option>'
            $('#model_crop').append(option_item);
          });
        }
      );
    });
  });
</script>

  {% for list_organization in list_organization %} 
  <div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left" style="margin-left:2.3%;">   
          <br>
          <div class="row">
            <div class="col-md-1 col-sm-12 col-xs-12 form-group">
              <h3> <a href="/organization"><i class="fa fa-arrow-circle-o-left"></i> </a></h3>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 form-group" style="margin-top: 0.4%">
              <h4>Organización - ID #{{ list_organization.0 }}</h4>
            </div>
          </div>
          <h6>Configuración / <a href="/organization"> Organizaciones </a>/ Editar Organización </h6>
        </div>
      </div>

        {% if msg_create  %}
          <div class="col-md-6 col-sm-12 col-xs-12">
            <br>
            <div class="alert alert-info alert-dismissible fade in disappear" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>                
              <strong><h4><i class="fa fa-info-circle"></i><font size="3"> Error de validacion!  </font></strong></h4> 
                Verifica el correo electrónico, número de celular o número de NIT/RUT de la organización, ya que uno de estos datos se encuentran registrado en el sistema
            </div>     
          </div>
        {% endif%}

        {% if msg_type  %}
          <div class="col-md-6 col-sm-12 col-xs-12" style="margin-top: 2%">
            <div class="alert alert-success alert-dismissible fade in disappear" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>                
              <strong><h4><i class="fa fa-check-circle"></i><font size="3"> {{ msg_create_org }} </font></strong></h4> 
                {{ msg_org }}
            </div>     
          </div>
        {% endif%}

      <div class="clearfix"></div>

      <form method="POST" action="/update_organization" enctype="multipart/form-data">  
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <input type="hidden" name="organization_id"  value="{{ list_organization.0 }}">
        <div class="row">
          <div class="col-md-12" style="margin-top: 3%">
            <div class="x_panel">
              <div class="x_title">
                <h2>Datos básicos </h2>
                <ul class="nav navbar-right panel_toolbox">
                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                </ul>
                <div class="clearfix"></div>
              </div>
              
              <div class="x_content">
                <section class="content invoice">
                  <div class="row">
                    <div class="col-xs-4">
                      <input name="organization_photo" id="file-input" type="file" style="margin-top: 4%;"/>
                      <p class="text-muted well well-sm no-shadow" style="margin-top: 10%;">
                        <input type="hidden" value="{{ list_organization.1 }}" name="photo_previous">
                        {% if list_organization.1 == None %}
                          <img id="imgSalida" width="100%" height="230em" src="/static/images/empresa.jpg" style="margin-top: 3%;"/>
                        {% else %}
                          <img id="imgSalida" width="100%" height="230em" src="{{ list_organization.1 }}" style="margin-top: 3%;"/>
                        {% endif  %}
                      </p>
                    </div>
                    <!-- /.col -->
                    <div class="col-xs-8" style="margin-top: 8%;">
                      <div id="demo-form2" data-parsley-validate class="form-horizontal form-label-left"></form>
                        <div class="form-group">
                          <label class="control-label col-md-4 col-sm-3 col-xs-12" for="first-name">Nombre <span class="required">*</span>
                          </label>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" name="name" required="required" value="{{ list_organization.2 }}" class="form-control col-md-7 col-xs-12 redon">
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="control-label col-md-4 col-sm-3 col-xs-12" for="last-name">NIT/RUT <span class="required">*</span>
                          </label>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text"  name="legal_id" required="required" value="{{ list_organization.3 }}" class="form-control col-md-7 col-xs-12 redon">
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="middle-name" class="control-label col-md-4 col-sm-3 col-xs-12">Correo Electrónico <span class="required">*</span> </label>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                            <input name="email" class="form-control col-md-6 col-xs-12 redon" value="{{ list_organization.4 }}" type="email">
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="control-label col-md-4 col-sm-3 col-xs-12" for="last-name">Sitio web 
                          </label>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" name="website" required="required" value="{{ list_organization.5 }}" class="form-control col-md-7 col-xs-12 redon">
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="control-label col-md-4 col-sm-3 col-xs-12" for="last-name">Teléfono de contacto
                          </label>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" name="phone" required="required" value="{{ list_organization.6 }}" class="form-control col-md-7 col-xs-12 redon">
                          </div>
                        </div>

                        <div class="form-group">
                          <label class="control-label col-md-4 col-sm-3 col-xs-12" >Pais <span class="required">*</span>
                          </label>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                            <select style="font-family:verdana;" id ='country' class="form-control filter redon" name="country">
                              {% for country in country %} 
                                {% if country.0  == list_organization.7 %}
                                <option selected = "selected" value = "{{ country.0 }}"> {{ country.1 }} </option>
                                {% else %}
                                <option value = "{{ country.0 }}"> {{ country.1 }} </option>
                                {% endif %}
                              {% endfor %}
                            </select>
                          </div>
                        </div>

                        <div class="form-group">
                          <label class="control-label col-md-4 col-sm-3 col-xs-12" for="first-name">Cuidad <span class="required">*</span>
                          </label>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                            <select id="city" class="form-control filter redon" name="city_id">
                            {% for json_city in json_city %}
                              {% if json_city["id"] == list_organization.9|string %} 
                              <option selected = "selected" value = "{{  json_city["id"] }}"> {{  json_city["name"] }} </option>
                              {% else %}
                              <option value = "{{  json_city["id"] }}"> {{  json_city["name"] }} </option>
                              {% endif %}
                            {% endfor %}
                            </select>
                          </div>
                        </div>

                        <div class="form-group">
                          <label class="control-label col-md-4 col-sm-3 col-xs-12" for="last-name">Dirección
                          </label>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" name="addres" required="required" value="{{ list_organization.11 }}" class="form-control col-md-7 col-xs-12 redon">
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="control-label col-md-4 col-sm-3 col-xs-12" for="last-name">Estado
                          </label>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                            <select  class="form-control filter redon" name="approved">
                              {% if  list_organization.12  ==  1 %} 
                                <option selected = "selected" value = "1"> Habilitada</option>
                                <option value = "2"> Deshabilitada  </option>
                              {% else %}
                                <option selected = "selected" value = "2"> Deshabilitada </option>
                                <option value = "1"> Habilitada  </option>
                              {% endif %}
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="ln_solid"></div>
                  <div class="form-group">
                    <div style="text-align: center;">
                      <a class="btn btn-danger " href="/organization">Cancelar</a>
                      <button type="submit" class="btn btn-success">Actualizar</button>
                    </div>
                  </div>               
                </section>
              </div>
            </div>
          </div>
        </div>
      </form>

      <div class="clearfix"></div>

      <div class="row" >
        <div class="col-md-12" style="margin-top: 3%">
          <div class="x_panel">
            <div class="x_title">
              <h2>Cultivos y modelos asociados </h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
              </ul>
              <div class="clearfix"></div>
            </div>
            
            <div class="x_content">
              <section class="content invoice">
                <div class="row">
                  <br>
                  <button type="button" style="margin-left:4%" class="btn btn-success" data-toggle="modal" data-target="#insert_crop">Agregar</button>

                  <form method="POST" action="/insert_model_crop" enctype="multipart/form-data">  
                    <div class="modal fade" id ="insert_crop" tabindex="-1" role="dialog" aria-hidden="true">
                      <div class="modal-dialog modal-sm">
                        <div class="modal-content">

                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
                            </button>
                            <h4 class="modal-title" id="myModalLabel2">Agregar cultivos y modelos</h4>
                          </div>
                          <div class="modal-body">

                            <label class="control-label" style="margin-top:3%" > Cultivo </label>

                            <div style="margin-top:3%">
                              <input value="{{ list_organization.0 }}" type="hidden" name ="organization_id">
                              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                              <select style="width:90%;" class="form-control filter redon" name="crop_id" id="crop">
                                {% for allcrop in allcrops %} 
                                  <option  value = "{{ allcrop.0 }}"> {{ allcrop.1 }} </option>
                                {% endfor %}
                              </select>
                            </div>

                            <label class="control-label" style="margin-top:3%" > Modelos </label>

                            <div style="margin-top:3%">
                              <select style="width:90%;" class="form-control filter redon" name="model_crop[]" multiple="multiple" id="model_crop">
                                {% for json_model_crop in json_model_crop  %} 
                                  <option value = "{{ json_model_crop["id"] }}"> {{ json_model_crop["name"] }} </option>
                                {% endfor %}
                              </select>
                            </div>
                          </div>  

                          <div class="modal-footer" style="text-align:center">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-success">Actualizar</button>
                          </div>

                        </div>
                      </div>
                    </div>
                  </form>

                  <center>
                    <table class="table" style="margin-top: 3%; width:92%;">
                      <thead>
                        <tr>
                          <th>#Id</th>
                          <th width="25%">Cultivo</th>
                          <th>Modelos</th>
                          <th width="20%">Estado</th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for list_model_crop in list_model_crop%}
                        <tr>
                          <th scope="row"><a href="#!" data-toggle="modal" data-target="#insert_crop{{ list_model_crop.0 }}"> {{ list_model_crop.0 }} </a> </th>

                            <div class="modal fade" id ="insert_crop{{ list_model_crop.0 }}" tabindex="-1" role="dialog" aria-hidden="true">
                              <div class="modal-dialog modal-sm">
                                <div class="modal-content">

                                  <form method="POST" action="/update_model_crop" enctype="multipart/form-data"> 

                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                                    <input value="{{ list_organization.0 }}" type="hidden" name ="organization_id"> 
                                    <input value="{{ list_model_crop.0 }}" type="hidden" name ="crop"> 

                                    <div class="modal-header" style="text-align:left" >
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
                                      </button>
                                      <h4 class="modal-title" id="myModalLabel2">Editar modelos del cultivo</h4>
                                    </div>

                                    <div class="modal-body" style="text-align:left" >
                                      <label class="control-label" style="margin-top:3%" > Modelos </label>
                                      <div style="margin-top:3%">
                                        <select style="width:90%;" class="form-control filter redon" name="model_crop[]" multiple="multiple">
                                          {% for model_crop in list_model_crop.3 %}
                                            {% if  model_crop["approved"] == 't' %} 
                                              <option selected = "selected" value = "{{ model_crop["id"] }}"> {{ model_crop["name"] }} </option>
                                            {% else %}
                                              <option value = "{{ model_crop["id"] }}"> {{ model_crop["name"] }} </option>
                                            {% endif %}
                                          {% endfor %} 
                                        </select>
                                      </div>
                                    </div>
                                  
                                    <div class="modal-footer" style="text-align:center">
                                      <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                                      <button type="submit" class="btn btn-success">Actualizar</button>
                                    </div>

                                  </form>

                                </div>
                              </div>
                            </div>

                          <td>{{ list_model_crop.1 }}</td>
                          <td>
                            {% for model_crop in list_model_crop.3 %}
                              {% if  model_crop["approved"] == 't' %} 
                                {{ model_crop["name"] }} ,
                              {% endif %}
                            {% endfor %}                              
                          </td>

                          {% if list_model_crop.2  %}
                          <td style="vertical-align: middle;"><a href="/get_disable_crop/{{ list_organization.0 }}/{{ list_model_crop.0 }}"><font size="3"><span class="label label-default">Deshabilitar</span></font></a></td>
                          {% else %}
                          <td style="vertical-align: middle;"><a href="/get_enable_crop/{{ list_organization.0 }}/{{ list_model_crop.0 }}"><font size="3"><span class="label label-success">Habilitar</span> </a></td>
                          {% endif %}

                        </tr>

                        {% endfor %}
                      </tbody>
                    </table>
                  </center>
                </div>                                
              </section>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  {% endfor %}




{% endblock %}
