{% extends 'base/base.html' %}  

{% block content %}

<style>
  .redon {
    border: 1px solid;
    border-color:#9A9696;
    border-radius: 4px;
    }
</style>

  {% for list_organization in list_organization %} 
  <div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left" style="margin-left:2.3%;">   
          <br>
          <div class="row">
            <div class="col-md-1 col-sm-12 col-xs-12 form-group">
              <h3> <a href="#"><i class="fa fa-arrow-circle-o-left"></i> </a></h3>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 form-group" style="margin-top: 0.4%">
              <h4>Organización - ID #{{ list_organization.0 }}</h4>
            </div>
          </div>
          <h6>Configuración / <a href="#"> Organizaciones </a>/ Editar Organización </h6>
        </div>
      </div>

        {% if msg_create  %}
          <div class="col-md-6 col-sm-12 col-xs-12">
            <br>
            <div class="alert alert-info alert-dismissible fade in disappear" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>                
              <strong><h4><i class="fa fa-info-circle"></i><font size="3"> Error de validacion!  </font></strong></h4> 
                Verifica el correo electrónico, número de celular o número de NIT/RUT de la organización, ya que uno de estos datos se encuentran registrado en el sistema
            </div>     
          </div>
        {% endif%}

        {% if msg_type  %}
          <div class="col-md-6 col-sm-12 col-xs-12" style="margin-top: 2%">
            <div class="alert alert-success alert-dismissible fade in disappear" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>                
              <strong><h4><i class="fa fa-check-circle"></i><font size="3"> {{ msg_create_org }} </font></strong></h4> 
                {{ msg_org }}
            </div>     
          </div>
        {% endif%}

      <div class="clearfix"></div>

        <input type="hidden" name="organization_id"  value="{{ list_organization.0 }}">
        <div class="row">
          <div class="col-md-12" style="margin-top: 3%">
            <div class="x_panel">
              <div class="x_title">
                <h2>Datos básicos </h2>
                <ul class="nav navbar-right panel_toolbox">
                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                </ul>
                <div class="clearfix"></div>
              </div>
              
              <div class="x_content">
                <section class="content invoice">
                  <div class="row">
                    <div class="col-xs-4">
                      <p class="text-muted well well-sm no-shadow" style="margin-top: 10%;">
                        {% if list_organization.1 == None %}
                          <img id="imgSalida" width="100%" height="230em" src="/static/images/empresa.jpg" style="margin-top: 3%;"/>
                        {% else %}
                          <img id="imgSalida" width="100%" height="230em" src="{{ list_organization.1 }}" style="margin-top: 3%;"/>
                        {% endif  %}
                      </p>
                    </div>
                    <!-- /.col -->
                    <div class="col-xs-8" style="margin-top: 8%;">
                      <div id="demo-form2" data-parsley-validate class="form-horizontal form-label-left"></form>
                        <div class="form-group">
                          <label class="control-label col-md-4 col-sm-3 col-xs-12" for="first-name">Nombre <span class="required">*</span>
                          </label>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                            <input readonly="readonly" value="{{ list_organization.2 }}" class="form-control col-md-7 col-xs-12 redon">
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="control-label col-md-4 col-sm-3 col-xs-12" for="last-name">NIT/RUT <span class="required">*</span>
                          </label>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                            <input readonly="readonly" value="{{ list_organization.3 }}" class="form-control col-md-7 col-xs-12 redon">
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="middle-name" class="control-label col-md-4 col-sm-3 col-xs-12">Correo Electrónico <span class="required">*</span> </label>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                            <input readonly="readonly" class="form-control col-md-6 col-xs-12 redon" value="{{ list_organization.4 }}">
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="control-label col-md-4 col-sm-3 col-xs-12" for="last-name">Sitio web 
                          </label>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                            <input readonly="readonly" value="{{ list_organization.5 }}" class="form-control col-md-7 col-xs-12 redon">
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="control-label col-md-4 col-sm-3 col-xs-12" for="last-name">Teléfono de contacto
                          </label>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                            <input readonly="readonly"  value="{{ list_organization.6 }}" class="form-control col-md-7 col-xs-12 redon">
                          </div>
                        </div>

                        <div class="form-group">
                          <label class="control-label col-md-4 col-sm-3 col-xs-12" >Pais <span class="required">*</span>
                          </label>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                            <input readonly="readonly" value="{{ list_organization.8 }}" class="form-control col-md-7 col-xs-12 redon">
                          </div>
                        </div>

                        <div class="form-group">
                          <label class="control-label col-md-4 col-sm-3 col-xs-12" for="first-name">Cuidad <span class="required">*</span>
                          </label>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                           <input readonly="readonly"  value="{{ list_organization.10 }}" class="form-control col-md-7 col-xs-12 redon">
                          </div>
                        </div>

                        <div class="form-group">
                          <label class="control-label col-md-4 col-sm-3 col-xs-12" for="last-name">Dirección
                          </label>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                            <input readonly="readonly" value="{{ list_organization.11 }}" class="form-control col-md-7 col-xs-12 redon">
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="control-label col-md-4 col-sm-3 col-xs-12" for="last-name">Estado
                          </label>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                              {% if  list_organization.12 == 1 %} 
                                <input readonly="readonly" value="Habilitada" class="form-control col-md-7 col-xs-12 redon"> 
                                <input type="hidden" value="1" name ="approved"> 
                              {% else %}
                                <input readonly="readonly" value="Deshabilitada" class="form-control col-md-7 col-xs-12 redon">
                                <input type="hidden" value="2" name ="approved"> 
                              {% endif %}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="ln_solid"></div>
                  <div class="form-group">
                    <div style="text-align: center;">
                      <a class="btn btn-danger " href="users"> Salir </a>
                      <a class="btn btn-primary" href="/edit_organization/{{ list_organization.0 }}"> Editar </a>
                    </div>
                  </div>               
                </section>
              </div>
            </div>
          </div>
        </div>

      <div class="clearfix"></div>

      <div class="row" >
        <div class="col-md-12" style="margin-top: 3%">
          <div class="x_panel">
            <div class="x_title">
              <h2>Cultivos y modelos asociados </h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
              </ul>
              <div class="clearfix"></div>
            </div>
            
            <div class="x_content">
              <section class="content invoice">
                <div class="row">
                  <br>
                  <center>
                    <table class="table" style="margin-top: 3%; width:92%;">
                      <thead>
                        <tr>
                          <th>#Id</th>
                          <th width="25%">Cultivo</th>
                          <th>Modelos</th>
                          <th width="20%">Estado</th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for list_model_crop in list_model_crop%}
                        <tr>
                          <th scope="row"> {{ list_model_crop.0 }}</th>
                          <td>{{ list_model_crop.1 }}</td>
                          <td>
                            {% for model_crop in list_model_crop.3 %}
                              {% if  model_crop["approved"] == 't' %} 
                                {{ model_crop["name"] }} ,
                              {% endif %}
                            {% endfor %}                              
                          </td>

                          {% if list_model_crop.2  %}
                          <td style="vertical-align: middle;"><font size="3"><span class="label label-success">Habilitado </span></font></td>
                          {% else %}
                          <td style="vertical-align: middle;"><font size="3"><span class="label label-default">Deshabilitado </span> </td>
                          {% endif %}

                        </tr>

                        {% endfor %}
                      </tbody>
                    </table>
                  </center>
                </div>                                
              </section>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  {% endfor %}




{% endblock %}
