<html lang="en">
    <head>
        <title>Confirmación de usuario</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />  
    </head>
    <body style="font: 16px verdana;" >
        <br>
         <center>
            <table style="  border-collapse: separate;
                            border-spacing: 10;
                            border: 1px solid black;
                            border-radius: 10px;
                            border-color:#D3D3D3;
                            -moz-border-radius: 20px;
                            padding: 2px;
                            border-spacing: 20px;
                            border-collapse: separate;
                            width: 60%;">
                <tr>
                    <td width="10%">
                        <img style="display: block;
                                    margin: 0 auto;
                                    max-width: 100%;"
                            src="https://ifrkow.stripocdn.email/content/guids/CABINET_d2beea2d7a5b79a79b2fcd1a10282d1c/images/3671593884931180.png"/>             
                    </td>
                </tr>    
                <tr>
                    <td>
                        <hr style=" height: 1px; 
                                    color: #D3D3D3; 
                                    background-color:#D3D3D3; 
                                    border: none;">
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="font: 15px verdana;">
                            Hola, {{ user }}
                        </p>
                        <p style="font: 15px verdana;">
                            <font size="3">
                                <strong>
                                Recibimos una solicitud para restablecer tu contraseña. Ingresa el siguiente código para restablecer la contraseña:
                                </strong>
                            </font>
                        </p>
                        
                      <div class="col-xs-2">
                        <input style="font: 15px verdana; width:30%; text-align: center; height:40px" id="code" name="code" value="{{ code }}">
                      </div>

                        <p style="font: 15px verdana;">
                        <br />
                            También puedes cambiar la contraseña directamente.
                        </p>
                        <p style="text-align:center">
                            <a  href="http://localhost:5000/password_validation_code?user_id={{ user_id }}&code={{ code }}" 
                                style=" 
                                        background: #26B99A;
                                        border: 1px solid #169F85;
                                        display:inline-block;
                                        cursor:pointer;
                                        color:#fff;
                                        font: 15px verdana;
                                        padding:16px 31px;
                                        text-decoration:none;
                                        text-shadow:0px 1px 0px #2f6627;
                                        ">

                                <font size="3">
                                  Cambiar contraseña
                                </font>
                            </a>
                        <p>
                    </td>
                </tr>
                <tr>
                  <td>
                        <hr style=" height: 1px; 
                                    color: #D3D3D3; 
                                    background-color:#D3D3D3; 
                                    border: none;">
                  </td>
                </tr>
                <tr>
                  <td>
                    <p style="font: 16px verdana;">
                      <small>Se envió este mensaje a <a href="mailto:{{ email }}">{{ email }} </a>, por pedido tuyo.</small>
                    <p>
                  </td>
                </tr>
            </table>
        </center>
        <br>
    </body>
</html>    