{% extends 'base/base.html' %}  

{% block content %}

<style>

  .square_yellow {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #FFFC4D;
    }

  .square_green {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #074903;
    }
  
  .square_brown{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #CB7821;
    }

  .class_li {
    background-image: url('https://ifrkow.stripocdn.email/content/guids/CABINET_d2beea2d7a5b79a79b2fcd1a10282d1c/images/36841589438201319.png');
    background-repeat: no-repeat;
    padding-left: 15%;
  }

  .class_li_ca {
    background-image: url('/static/images/exclamacion.svg');
    background-repeat: no-repeat;
    padding-left: 15%;
  }

</style>

  <div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left" style="margin-left:2.3%;">   
          <br>
          <h6>Métricas / Histórico de la salud de las plantas</h6>
        </div>
      </div>

      <div class="clearfix"></div>

      <div class="row">
        <div class="col-md-12" style="margin-top: 3%">
          <div class="x_panel">
            <div class="x_title">
              <h2> Histórico de la salud de las plantas</h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
              </ul>
              <div class="clearfix"></div>
            </div>
            
            <div class="x_content">
              <table
                id="datatable-responsive"
                class="table table-striped table-bordered dt-responsive nowrap jambo_table bulk_action"
                cellspacing=""
                width="100%">
                <thead>
                  <tr>
                    <th>#Id </th>
                    <th>Tono Verde </th>
                    <th>Tono Amarillo </th>
                    <th>Tono Naranja </th>
                    <th>Estado </th>
                    <th>Descripción </th>
                    <th>Solicitante </th>
                    <th>Fecha de inserción </th>
                    <th>Comentarios </th>
                    <th>Imagen Usuario &nbsp; &nbsp; &nbsp; </th>
                    <th>Imagen Calculada &nbsp; </th>
                  </tr>
                </thead>
                <tbody>
                  {% for list_health in list_health%}
                    <tr>
                      <td> {{ list_health.0 }} </td>
                      <td style="vertical-align: middle;">
                        <table> 
                          <tr>
                            <td> <span class="square_green"> </span> &nbsp; </td> 
                            <td> {{ list_health.1 }}% </td>
                          </tr>
                          </table>  
                      </td>
                      <td style="vertical-align: middle;">
                        <table> 
                          <tr>
                            <td> <span class="square_yellow"> </span> &nbsp; </td> 
                            <td> {{ list_health.2 }}% </td>
                          </tr>
                          </table>  
                      </td>
                      <td style="vertical-align: middle;">
                        <table> 
                          <tr>
                            <td> <span class="square_brown"> </span> &nbsp; </td> 
                            <td> {{ list_health.3 }}% </td>
                          </tr>
                        </table>
                      </td>  
                      <td style="vertical-align: middle;"> {{ list_health.4 }} </td>
                      <td style="vertical-align: middle;"> {{ list_health.5 }} </td>
                      <td style="vertical-align: middle;"> {{ list_health.6 }}</td>
                      <td style="vertical-align: middle;"> {{ list_health.7 }}</td>
                      <td style="vertical-align: middle;"> {{ list_health.8 }}</td>

                      <td style="vertical-align: middle;"> <a  href="#!" data-toggle="modal" data-target="#image_stange{{ list_health.0 }}">
                              <img width="100em" height="100em"
                                src="{{ list_health.9 }}">
                            </a> 
                      </td>

                      <td style="vertical-align: middle;"> <a  href="#!" data-toggle="modal" data-target="#image_stange2{{ list_health.0 }}">
                              <img width="100em" height="100em"
                                src="{{ list_health.10 }}">
                            </a> 
                      </td>

                    </tr>

                    <div  id ="image_stange{{ list_health.0 }}" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
                      <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hi
                            dden="true">×</span></button>
                          </div>
                          <div class="modal-body">
                          <p class="text-muted well well-sm no-shadow" align="center">
                            <img width="60%" height="500em"  src="{{ list_health.9 }}"/>
                          </p>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                    <div  id ="image_stange2{{ list_health.0 }}" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
                      <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hi
                            dden="true">×</span></button>
                          </div>
                          <div class="modal-body">
                          <p class="text-muted well well-sm no-shadow" align="center">
                            <img width="60%" height="500em"  src="{{ list_health.10 }}"/>
                          </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  {% endfor %}
                </tbody>
              </table>
            </div>

            <button type="button" class="btn btn-info" data-toggle="modal" data-target=".sugerencias">Síntomas y Soluciones</button>

            <div class="modal fade sugerencias" tabindex="-1" role="dialog" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">

                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Síntomas y Soluciones</h4>
                  </div>
                  
                  <div class="modal-body">  

                    <div class="col-md-12 ">
                      <div class="x_panel">
                        <br>
                          Algunas posibles  causas del descoloramiento de las hojas, además del tiempo propiamente, se tiene: 
                        <div class="x_title">
                          <br>
                          <div class="clearfix"></div>
                        </div>
                          <br>
                        <div class="x_content">

                          <div class="col-xs-4">
                            <!-- required for floating -->
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs tabs-left">
                              <li class="active"  ><a href="#a" data-toggle="tab">Exceso de riego </a></li>
                              <li><a href="#b" data-toggle="tab">Deficiencia de Potasio</a></li>
                              <li><a href="#c" data-toggle="tab">Deficiencia de Nitrógeno</a></li>
                              <li><a href="#d" data-toggle="tab">Deficiencia de Hierro</a></li>
                              <li><a href="#e" data-toggle="tab">Deficiencia de Manganeso</a></li>
                              <li><a href="#f" data-toggle="tab">Deficiencia de Calcio</a></li>
                            </ul>
                          </div>

                          <div class="col-xs-8">
                            <!-- Tab panes -->
                            <div class="tab-content">
                              <div class="tab-pane active" id="a" >
                                <p>
                                  
                                  <table class="table table-striped">
                                    <thead>
                                      <tr>
                                        <th style="text-align:center;">Síntomas</th>
                                        <th style="text-align:center;">Solución</th>
                                      </tr>
                                    </thead>
                                    <tbody>

                                      <tr>
                                        <td width="50%">
                                          <ul style="list-style-type: none;">
                                            <li class="class_li_ca">Hojas amarillas y marchitas. El estancamiento no permite a las raíces absorber 
                                            bien los nutrientes de forma generalizada.</li> <br>
                                          </lu>  
                                        </td>
                                        <td>
                                          <ul style="list-style-type: none;">
                                            <li class="class_li">Distanciar los riegos y asegurar un buen drenaje</li> <br>
                                          </lu>  
                                        </td>
                                      </tr>

                                    </tbody>
                                  </table>

                                </p>
                              </div>

                              <div class="tab-pane" id="b">
                                <p> 
                                  <table class="table table-striped">
                                    <thead>
                                      <tr>
                                        <th style="text-align:center;">Síntomas</th>
                                        <th style="text-align:center;">Solución</th>
                                      </tr>
                                    </thead>
                                    <tbody>

                                      <tr>
                                        <td>
                                          <ul style="list-style-type: none;">
                                            <li class="class_li_ca">Amarilleo de los bordes de las hojas medias y bajas de la planta.</li> <br>
                                            <li class="class_li_ca">quemaduras alrededor del borde.</li><br>
                                            <li class="class_li_ca">Crecimiento lento y Pérdida de hojas. <br></li><br>
                                            <li class="class_li_ca">Poca tolerancia a los cambios de temperatura y a estrés hídrico.</li><br>
                                            <li class="class_li_ca">Maduración desigual de frutas.</li><br>
                                          </ul>
                                        </td>
                                        <td width="50%">
                                          <ul style="list-style-type: none;">
                                            <li class="class_li">Tratamiento fertilizante rico en Potasio</li> <br>
                                            <li class="class_li">Aportar algas directamente al suelo, que son muy ricas en Potasio y 
                                                además aportan otros micronutrientes difíciles de encontrar en los fertilizantes 
                                                habituales. Si no tienes el mar cerca, existen fertilizantes a base de algas muy efectivos.</li>
                                          </ul>
                                        </td>
                                      </tr>

                                    </tbody>
                                  </table>
                                </p>
                              </div>

                              <div class="tab-pane" id="c">
                                <p> 
                                  <table class="table table-striped">
                                    <thead>
                                      <tr>
                                        <th style="text-align:center;">Síntomas</th>
                                        <th style="text-align:center;">Solución</th>
                                      </tr>
                                    </thead>
                                    <tbody>

                                      <tr>
                                        <td>
                                          <ul style="list-style-type: none;">
                                            <li class="class_li_ca">Amarilleo de toda la hoja por completo, incluyendo nervios. Este amarillero empieza en las hojas más bajas de la planta.</li> <br>
                                            <li class="class_li_ca">El crecimiento de la planta se detiene</li><br>
                                          </ul>
                                        </td>
                                        <td width="50%">
                                          <ul style="list-style-type: none;">
                                            <li class="class_li">Prevenir mediante la rotación de cultivos, plantación de leguminosas y abonos verdes y aplicación de compost de forma</li> <br>
                                          </ul>
                                        </td>
                                      </tr>

                                    </tbody>
                                  </table>
                                </p>
                              </div>

                              <div class="tab-pane" id="d">
                                <p style="margin-top:4%;"> 
                                  <table class="table table-striped">
                                    <thead>
                                      <tr>
                                        <th style="text-align:center;">Síntomas</th>
                                        <th style="text-align:center;">Solución</th>
                                      </tr>
                                    </thead>
                                    <tbody>

                                      <tr>
                                        <td>
                                          <ul style="list-style-type: none;">
                                            <li class="class_li_ca">Hojas amarillentas y/o anaranjadas, exceptuando los nervios que continúan verdes.</li> <br>
                                            <li class="class_li_ca">Primero afecta a las hojas jóvenes y luego casiona caída de las hojas.</li> <br>
                                          </ul>
                                        </td>
                                        <td width="50%">
                                          <ul style="list-style-type: none;">
                                            <li class="class_li">Regar habitualmente con agua de lluvia</li> <br>
                                            <li class="class_li">Pulverización foliar con quelatos de hierro</li> <br>
                                            <li class="class_li">Corregir el pH del suelo con ácido cítrico, turba rubia o yeso.</li> <br>
                                          </ul>
                                        </td>
                                      </tr>

                                    </tbody>
                                  </table>
                                </p>
                              </div>

                              <div class="tab-pane" id="e">
                                <p style="margin-top:4%;"> 
                                  <table class="table table-striped">
                                    <thead>
                                      <tr>
                                        <th style="text-align:center;">Síntomas</th>
                                        <th style="text-align:center;">Solución</th>
                                      </tr>
                                    </thead>
                                    <tbody>

                                      <tr>
                                        <td>
                                          <ul style="list-style-type: none;">
                                            <li class="class_li_ca">Manchas amarillas entre los nervios de las hojas más jóvenes.</li> <br>
                                            <li class="class_li_ca">También pueden aparecer manchas rojizas o púrpuras.</li> <br>
                                            <li class="class_li_ca">Los nervios permanecen verdes.</li> <br>   
                                          </ul>
                                        </td>
                                        <td width="50%">
                                          <ul style="list-style-type: none;">
                                            <li class="class_li">Regar habitualmente con agua de lluvia.</li> <br>
                                            <li class="class_li">Pulverización foliar con quelatos de manganeso.</li> <br>
                                            <li class="class_li">Corregir el pH del suelo con ácido cítrico, turba rubia o yeso.</li> <br>
                                          </ul>
                                        </td>
                                      </tr>

                                    </tbody>
                                  </table>
                                </p>
                              </div>

                              <div class="tab-pane" id="f">
                                <p style="margin-top:4%;"> 
                                  <table class="table table-striped">
                                    <thead>
                                      <tr>
                                        <th style="text-align:center;">Síntomas</th>
                                        <th style="text-align:center;">Solución</th>
                                      </tr>
                                    </thead>
                                    <tbody>

                                       <tr>
                                        <td>
                                          <ul style="list-style-type: none;">
                                            <li class="class_li_ca">Hojas nuevas pequeñas, arrugadas,deformadas y hojas partidas.</li> <br>
                                            <li class="class_li_ca">Podredumbre apical del fruto y síntomas de deshidratación.<li> <br>
                                          </ul>
                                        </td>
                                        <td width="50%">
                                          <ul style="list-style-type: none;">
                                            <li class="class_li">Corrección del ph del suelo.<li> <br>
                                            <li class="class_li">Evitar aplicar fertilizantes ricos en potasio.</li> <br>
                                            <li class="class_li">Aportar Calcio al suelo.</li> <br>
                                            <li class="class_li">Aportar algo de sombra a la planta.</li> <br>
                                          </ul>
                                        </td>
                                      </tr>

                                    </tbody>
                                  </table>
                                </p>
                              </div>

                            </div>
                          </div>

                          <div class="clearfix"></div>

                        </div>
                      </div>
                        <p>[1] Rosique. M. 2015. Detectar carencias según el color de las hojas. Consultado en línea, Disponible en:<br> 
                            <a href="https://www.planteaenverde.es/blog/detectar-carencias-segun-el-color-de-las-hojas/" target="black">
                            https://www.planteaenverde.es/blog/detectar-carencias-segun-el-color-de-las-hojas/</a>
                        </p>
                           [2] CompountInterest. 2014. La química del color. Consultado en línea. Disponible en:<br> 
                           <a href="http://www.visitarb.com/educacion/la-quimica-de-las-hojas-en-otono" target="black">
                            http://www.visitarb.com/educacion/la-quimica-de-las-hojas-en-otono</a>
                    </div>
      
                  </div>

                  <div class="modal-footer" style="margin-top:70%;">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>

                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>

   
   

{% endblock %}
