{% extends 'base/base.html' %}  

{% block content %}

<style>

  .square_yellow {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #FFFC4D;
    }

  .square_red {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: red;
    }
  
  .square_violet{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #976AFF;
    }

</style>

  <div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left" style="margin-left:2.3%;">   
          <br>
          <h6>Métricas / Histórico de la humedad del terreno</h6>
        </div>
      </div>

      <div class="clearfix"></div>

      <div class="row">
        <div class="col-md-12" style="margin-top: 3%">
          <div class="x_panel">
            <div class="x_title">
              <h2> Histórico de la humedad del terreno</h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
              </ul>
              <div class="clearfix"></div>
            </div>
            
            <div class="x_content">
              <table
                id="datatable-responsive"
                class="table table-striped table-bordered dt-responsive nowrap jambo_table bulk_action"
                cellspacing=""
                width="100%">
                <thead>
                  <tr>
                    <th>#Id</th>
                    <th>Humedad Alta</th>
                    <th>Humedad Optima</th>
                    <th>Humedad Baja</th>
                    <th>Solicitante</th>
                    <th>Fecha de inserción</th>
                    <th>Comentarios</th>
                    <th>Imagen</th>
                  </tr>
                </thead>
                <tbody>
                  {% for list_humidity in list_humidity%}
                    <tr>
                      <td> {{ list_humidity.0 }} </td>
                      <td style="vertical-align: middle;">
                        <table> 
                          <tr>
                            <td> <span class="square_yellow"> </span> &nbsp; </td> 
                            <td> {{ list_humidity.1 }}% </td>
                          </tr>
                          </table>  
                      </td>
                      <td style="vertical-align: middle;">
                        <table> 
                          <tr>
                            <td> <span class="square_red"> </span> &nbsp; </td> 
                            <td> {{ list_humidity.2 }}% </td>
                          </tr>
                          </table>  
                      </td>
                      <td style="vertical-align: middle;">
                        <table> 
                          <tr>
                            <td> <span class="square_violet"> </span> &nbsp; </td> 
                            <td> {{ list_humidity.3 }}% </td>
                          </tr>
                        </table>
                      </td>  
                      <td style="vertical-align: middle;"> {{ list_humidity.4 }} </td>
                      <td style="vertical-align: middle;">  {{ list_humidity.5 }} </td>
                      <td style="vertical-align: middle;"> {{ list_humidity.6 }}</td>
                      <td style="vertical-align: middle;"> <a  href="#!" data-toggle="modal" data-target="#image_stange{{ list_humidity.0 }}">
                              <img width="100em" height="100em"
                                src="{{ list_humidity.7 }}">
                            </a> 
                      </td>
                    </tr>
                    <div  id ="image_stange{{ list_humidity.0 }}" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
                      <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hi
                            dden="true">×</span></button>
                          </div>
                          <div class="modal-body">
                          <p class="text-muted well well-sm no-shadow" align="center">
                            <img width="60%" height="500em"  src="{{ list_humidity.7 }}"/>
                          </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  {% endfor %}
                </tbody>
              </table>
            </div>

            <button type="button" class="btn btn-warning" data-toggle="modal" data-target=".causas">Causas</button>

            <div class="modal fade causas" tabindex="-1" role="dialog" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">

                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Causas</h4>
                  </div>
                  
                  <div class="modal-body">  

                    <div class="col-md-12 ">
                      <div class="x_panel">
                        <p>
                          La humedad puede ser el factor ambiental más difícil de controlar en invernaderos. 
                          incluso los equipos de control ambiental más sofisticados no pueden controlar 
                          perfectamente el nivel de humedad en invernaderos. Los niveles de humedad fluctúan 
                          con el cambio de la temperatura del aire y, además, las plantas transpiran y 
                          agregan vapor de agua al ambiente constantemente. 
                        </p>

                          Si la humedad es demasiado baja, con frecuencia el crecimiento de las plantas se verá comprometido, 
                          ya que los cultivos tardan más tiempo en obtener un tamaño adecuado para la venta. 
                          Además, a menudo se caen las hojas inferiores, el crecimiento es difícil y la calidad en general no es muy buena. 
                          Si la humedad es muy alta o muy baja, la pérdida de calidad reduce el precio de venta de 
                          los cultivos y aumenta los costos de producción, lo que reduce las ganancias.
                        <div class="x_title">
                          <br>
                          <div class="clearfix"></div>
                        </div>
                          <br>
                        <div class="x_content" style="text-align:center;">

                          <table class="table table-striped">
                            <thead>
                              <tr>
                                <th style="text-align:center;">Humedad demasiado baja</th>
                                <th style="text-align:center;">Humedad demasiado alta</th>
                              </tr>
                            </thead>
                            <tbody>

                              <tr>
                                <td>Marchitamiento</td>
                                <td>Crecimiento débil</td>
                              </tr>

                              <tr>
                                <td>Plantas atrofiadas</td>
                                <td>Aumento de enfermedades de la hojas</td>
                              </tr>

                              <tr>
                                <td>Tamaño más pequeño de las hojas</td>
                                <td>Deficiencias de nutrientes</td>
                              </tr>

                              <tr>
                                <td>Puntas secas y quemadas</td>
                                <td>Aumento de enfermedades de las rairces</td>
                              </tr>
                              
                              <tr> 
                                <td>Hojas rizadas</td>
                                <td>Edemas</td>
                              </tr>

                              <tr>
                                <td>Aumento de la infestacion de arañuela roja</td>
                                <td>Bordes quemados (gutación)</td>
                              </tr>
                              
                            </tbody>
                          </table>
                          <div class="clearfix"></div>

                        </div>
                      </div>
                        [1] Joann P.2017 ¿Cómo influye la humedad en la calidad de los cultivos? Consultado en línea. Disponible en: <br>
                        <a href="https://www.pthorticulture.com/es/centro-de-formacion/como-influye-la-humedad-en-la-calidad-de-los-cultivos/#:~:text=Si%20la%20humedad%20es%20demasiado,general%20no%20es%20muy%20buena.:" target="black">
                        https://www.pthorticulture.com/es/centro-de-formacion/como-influye-la-humedad-en-la-calidad-de-los-cultivos/#:~:text=Si%20la%20humedad%20es%20demasiado,general%20no%20es%20muy%20buena.: 
                        </a> 
                    </div>
      
                  </div>

                  <div class="modal-footer" style="margin-top:68%;">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>

                </div>
              </div>
            </div>

            <button type="button" class="btn btn-info" data-toggle="modal" data-target=".sugerencias">Sugerencias</button>

            <div class="modal fade sugerencias" tabindex="-1" role="dialog" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">

                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Sugerencias</h4>
                  </div>
                  
                  <div class="modal-body">  

                    <div class="col-md-12 ">
                      <div class="x_panel">
                        <br>
                        El estrés hídrico del cultivo se produce cuando la planta no puede 
                        extraer agua del suelo a través de sus raíces a la misma velocidad 
                        con la que pierde humedad de la superficie de sus hojas, de está manera, 
                        es necesario lograr y mantener un suelo biológicamente rico, 
                        con buena capacidad de absorción. Por lo cual de recomienda:
                        <div class="x_title">
                          <br>
                          <div class="clearfix"></div>
                        </div>
                          <br>
                        <div class="x_content">

                          <div class="col-xs-4">
                            <!-- required for floating -->
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs tabs-left">
                              <li class="active"  ><a href="#a" data-toggle="tab">Mantener  una cobertura permanente del suelo </a>
                              </li>
                              <li><a href="#b" data-toggle="tab">Minimizar la perturbación mecánica del suelo</a>
                              </li>
                              <li><a href="#c" data-toggle="tab">Controlar el tránsito en el campo</a>
                              </li>
                              <li><a href="#d" data-toggle="tab">Rotación de cultivos</a>
                              </li>
                            </ul>
                          </div>

                          <div class="col-xs-8">
                            <!-- Tab panes -->
                            <div class="tab-content">
                              <div class="tab-pane active" id="a">
                                <p style="margin-top:4%;"> 
                                  La cobertura permanente del suelo se puede dar con residuos vegetales o cultivos en desarrollo 
                                  con el fin de proteger la superficie del terreno del efecto negativo del impacto de las gotas de lluvia. 
                                  Esto reduce la formación de costras y la susceptibilidad a la erosión, y mejora la porosidad 
                                  en la superficie. Adicionalmente, reduce la pérdida directa de agua por 
                                  la evaporación aumentando la conservación de la humedad. 
                                </p>
                              </div>
                              <div class="tab-pane" id="b">
                                <p style="margin-top:4%;"> 
                                  Se realiza con el fin de evitar la pérdida de humedad y la compactación que sigue a la labranza. 
                                  Lo anterior, incrementa la infiltración y la percolación del agua a través del suelo 
                                  lo que produce una desarrollo radicular y al crecimiento del cultivo. Igualmente, 
                                  se reduce la descomposición de la materia orgánica y la consecuente pérdida de humedad por evaporación. 
                                </p>
                              </div>
                              <div class="tab-pane" id="c">
                                <p style="margin-top:4%;"> 
                                  Lo ideal es reducir la compactación del suelo y restringirlas  a áreas determinadas. 
                                  De esta manera, la porosidad del suelo y la infiltración de agua se maximizan, los macro y 
                                  microorganismos del suelo prosperan y no se pierde materia orgánica sino que ésta 
                                  llega a unirse e integrarse con el suelo. 
                                </p>
                              </div>
                              <div class="tab-pane" id="d">
                                <p style="margin-top:4%;"> 
                                  Por medio de la rotación de diferentes cultivos, se garantiza que a través de 
                                  sus diferentes sistemas radiculares, se optimiza la red de canales de las raíces, 
                                  propiciando el incremento de la penetración del agua y la capacidad del suelo para 
                                  el mantenimiento de la humedad, así como una mayor disponibilidad 
                                  de agua para uso del cultivo, en suelos más profundos.
                                </p>
                              </div>
                            </div>
                          </div>

                          <div class="clearfix"></div>

                        </div>
                      </div>
                        [2] Benites, J & Castellanos, A. 2003. Mejorando la humedad del suelo con agricultura de 
                        conservación. Reviste de Agroecología LEISA.  Volumen 19. Número 2.   Perú. Consultado en línea. Disponible en: <br>
                        <a href="http://www.leisa-al.org/web/index.php/volumen-19-numero-2/2168-mejorando-la-humedad-del-suelo-con-agricultura-de-conservacion" target="black">
                        http://www.leisa-al.org/web/index.php/volumen-19-numero-2/2168-mejorando-la-humedad-del-suelo-con-agricultura-de-conservacion
                        </a> 
                    </div>
      
                  </div>

                  <div class="modal-footer" style="margin-top:55%;">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>

                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>

   
   

{% endblock %}
