{% extends 'base/base.html' %}  

{% block content %}

<style>
  .redon {
    border: 1px solid;
    border-color:#9A9696;
    border-radius: 4px;
    }

  .bg-yellow {
    background: #FFFC4D!important;
    border: 1px solid #FFFC4D!important;
    color: #fff;
    }

  .bg-violet {
    background: #976AFF!important;
    border: 1px solid #976AFF!important;
    color: #fff;
    }
</style>


  <div class="right_col" role="main" >
    <div class="">
      <div class="page-title">
        <div class="title_left" style="margin-left:2.3%;">   
          <br>
          <h6>Servicios / Humedad del terreno / Humedad calculada </h6>
        </div>
      </div>

      <div class="clearfix"></div>

      <div class="row">
        <div class="col-md-12" style="margin-top: 3%">
          <div class="x_panel">
            <div class="x_title">
               <h2>Humedad calculada</h2>  
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
              </ul>
              <div class="clearfix"></div>
            </div>
            
            <div class="x_content">
        
                <section class="content invoice"> 
             
                    <div class="x_content" style="margin-left:1%">
                      <section class="content invoice">
                        <div class="row">
                          <form method="POST" action="/insert_humidity" enctype="multipart/form-data"> 
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                            <div class="row">
                              <div class="col-xs-5">
                              
                                <input type="hidden" name="image_url" value="{{ image_name }}.png" />
                                <input type="hidden" name="high_humidity" value="{{ humidity.0 }}" />
                                <input type="hidden" name="optimal_humidity" value="{{ humidity.1 }}" />
                                <input type="hidden" name="low_humidity" value="{{ humidity.2 }}" />

                                <p class="text-muted well well-sm no-shadow" style="margin-top: 6%;">
                                  <img width="100%" src="/static/images/humidity_calculation/{{ image_name }}.png" style="margin-top: 0.5%;"/>
                                </p>
                              </div>           
                                    <!-- /.col -->
                              <div class="col-xs-7" style="margin-top: 4%;">
                                <div id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">

                                  <div class="widget_summary" style="margin-top: 4%;">
                                    <div class="w_left w_25" >
                                      <span> <strong>Humedad alta</strong></span>
                                    </div>
                                    <div class="w_center w_55">
                                      <div class="progress">
                                        <div class="progress-bar bg-yellow" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{ humidity.0 }}%;">
                                        </div>
                                      </div>
                                    </div>
                                    <div class="col-xs-1">
                                      <span> {{ humidity.0 }}% </span>
                                    </div>
                                    <div class="clearfix"></div>
                                  </div>
                                  <div class="widget_summary" style="margin-top: 4%;">
                                    <div class="w_left w_25" >
                                      <span><strong>Humedad optima</strong></span>
                                    </div>
                                    <div class="w_center w_55">
                                      <div class="progress">
                                        <div class="progress-bar bg-red" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{ humidity.1 }}%;">
                                        </div> 
                                      </div>
                                    </div>
                                    <div class="col-xs-1">
                                      <span>{{ humidity.1 }}%</span>
                                    </div>
                                    <div class="clearfix"></div>
                                  </div>

                                  <div class="widget_summary" style="margin-top: 4%;">
                                    <div class="w_left w_25" >
                                      <span><strong>Humedad baja</strong></span>
                                    </div>
                                    <div class="w_center w_55">
                                      <div class="progress">
                                        <div class="progress-bar bg-violet" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{ humidity.2 }}%;">
                                        </div>
                                      </div>
                                    </div>
                                    <div class="col-xs-1">
                                      <span>{{ humidity.2 }}%</span>
                                    </div>
                                    <div class="clearfix"></div>
                                  </div>

                                  <div class="widget_summary" style="margin-top: 4%;">
                                    <div class="w_left w_25" >
                                      <span><strong>Comentarios</strong></span>
                                    </div>
                                    <div class="w_center w_55">
                                      <textarea class="form-control" rows="4" name="notes" class="form-control col-md-7 col-xs-12" style="border-radius: 4px;" ></textarea>
                                    </div>
                                    
                                    <div class="clearfix"></div>
                                  </div>

                                  <div class="clearfix"></div>
                                  <br>
                                  <div class="form-group" >
                                    <div style="text-align: center;">
                                      <a class="btn btn-danger" href="/humidity_ground" onclick=" return confirm('¿Quieres realizar un nuevo calculo? se perdera los datos calculados ')" >Salir</a>
                                      <button type="sumi" class="btn btn-success">Guardar</button>
                                    </div>
                                  </div>

                                </div>
                              </div>
                            </div>
                          </form>                   
                        </div>               
                      </section>
                    </div>    
             
                </section>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>


{% endblock %}
