{% extends 'base/base.html' %}  

{% block content %}

  <div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left" style="margin-left:2.3%;">   
          <br>
          <h6>Usuario / Usuarios</h6>
        </div>
      </div>

      <div class="clearfix"></div>

      <div class="row">
        <div class="col-md-12" style="margin-top: 3%">
          <div class="x_panel">
            <div class="x_title">
              <h2>Usuarios</h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <a class="btn btn-primary" href="/create_users" style="margin-top:2%" > <li class="fa fa-edit"> </li> &nbsp;Crear usuario </a>
            <div class="x_content" style="margin-top:2%">
              <table
                id="datatable-responsive"
                class="table table-striped table-bordered dt-responsive nowrap jambo_table bulk_action"
                cellspacing=""
                width="100%">
                <thead>
                  <tr>
                    <th>#Id</th>
                    <th>Nombre</th>
                    <th>Contacto</th>
                    <th>Aprobada</th>
                    <th>Estado </th>
                    <th>Dirección </th>
                    <th>Roles</th>
                    <th>Fecha de inserción</th>
                    <th>Fecha de actualización </th>
                  </tr>
                </thead>
                <tbody>
                  {% for us_org in us_org %} 
                  <tr>
                    <td align="center">{{ us_org.0 }}</td>
                    <td style="width:10%">
                      <a href="/edit_users/{{ us_org.0 }}">{{ us_org.1 }}<br>
                      {{ us_org.2 }}: {{ us_org.3 }}</a>        
                    </td>
                    <td>{{ us_org.4 }}<br>
                        {{ us_org.5 }}
                    </td>
                    {% if us_org.6  %}
                    <td style="vertical-align: middle;" align="center"><img src="/static/images/li.png"></td>
                    {% else %}
                    <td style="vertical-align: middle;" align="center"><img src="/static/images/exclamacion.svg" alt="Sin confirmar" title="Sin confirmar"></td>
                    {% endif %}

                    {% if us_org.7 %}
                    <td style="vertical-align: middle;"><font size="3"><span class="label label-success">Habilitado</span></td>
                    {% else %}
                    <td style="vertical-align: middle;"><font size="3"><span class="label label-default">Deshabilitado</span></font></td>
                    {% endif %}
                    
                    <td>
                      {{ us_org.8 }}, {{ us_org.9 }}
                    </td>

                    {% if us_org.10 is none %}
                      <td style="vertical-align: middle;">No tiene roles asignados </td>
                    {% else %}
                      <td style="vertical-align: middle;">{{ us_org.10}} </td>
                    {% endif %}

                    <td style="vertical-align: middle;">{{ us_org.11}} </td>
                    <td style="vertical-align: middle;">{{ us_org.12}} </td>
                  </tr> 
                  {% endfor %}      
                </tbody>
              </table>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>

{% endblock %}
